<!doctype html>
<html lang="en">
  
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
 
   <title>My blog</title>
 </head>
 <body>

     
  
   <div class="container">
    <%- include("partials/navbar.ejs")%>
    
     <div class="jumbotron jumbotron-fluid">

        <h1 style="text-align:center">Posts</h1>
        
        <script>   
          let flagSort;
          function sortA(){
          flagSort = 'author';
          console.log("flagSort= " + flagSort);
          } 
          function sortT(){
          flagSort = 'title';
          console.log("flagSort= " + flagSort);
          } 

          
          </script>

        <% //let flagSort; %>    
        <%  //include("../sort_funcs.js");  %>
        

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
        
          <% 
          let postCopy = [];
              
          posts.forEach(function(post) {
            postCopy.push ({ id: post["id"], title: post["title"], author: post["author"] }) ;
            %>
            <tr>
              <td><%- post["id"] %></td>
              <td><%- post["title"] %></td>
              <td><%- post["author"] %></td>
              <td>
                <a href="/posts/<%- post['id'] %>/show" class="btn btn-primary btn-sm">Show</a>
                <a href="/posts/<%- post['id'] %>/edit" class="btn btn-success btn-sm">Edit</a>
                <a href="/posts/<%- post['id'] %>/delete" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          <% })
          function compareT(a, b)
          {
          if (a.title < b.title)
            return -1;
          if (a.title > b.title)
          return 1;
          }

          function compareA(a, b)
          {
            if (a.author < b.author)
              {return -1;}
            if (a.author > b.author)
              {return 1; }
            return 0;
          }
          console.log(postCopy) ;
          postCopy.sort( compareA );
          console.log(postCopy) ;
          %>
          </tbody>
        </table>
        <a href="/new_post" class="btn btn-success btn-sm">Create New Post</a>
        <a class="btn btn-info btn-sm", onclick = "sortA()">Sort by author</a>
        <a class="btn btn-info btn-sm", onclick = "sortT()">Sort by title</a>
        
        <p>Total count: <%- posts.length %></p>
   
     </div>
   </div>

   <!-- JavaScript -->
   <script src="/jquery/jquery.min.js"></script>
   <script src="/bootstrap/js/bootstrap.min.js"></script>
 </body>
</html>
