<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <title>My blog</title>
</head>
<body>

  <style>
    #a1 {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
   input.a2 {
  visibility: hidden;
  font-size: 1px;
      }
    #a3 {
      /*font-size: 20px; */
      
    }
    
    .new-input{
        color: rgb(0, 81, 0);
        font-size: 15px;
        /*height: 34px;*/
        line-height: 1;
    
    }
  </style>

<div class="container">
    <%- include("partials/navbar.ejs") %>
    <div class="jumbotron">

<!-- <div id="a1"> -->
      <label for="name" > № <%-postP.id%>: <%- postP.title %> , </label> 
      <label for="text"> <b>By <span style="color:red;"><%- postP.author %></span> </b></label>
 <!-- </div> -->
 
    <div class="form-group">
        <label for="message"></label>
        <textarea readonly name="body" class="form-control new-input" id="body" rows="3" required><%- postP['body'] %></textarea>
    </div>

    <h4>Comments</h4> 
    <% postC.forEach(function(post) { 
      if (post["postId"] === postP.id) {%>
      
      <td><b><span style="color:blue"> <%- post["author"] %></span>(<%- post["id"]%>) : </b> </td> 
      <td> <%- post["comment"] %></td> <br/>
    <% }}) %>
    
    <form method="post" action="/posts/<%- postP.id %>/show">
      <!-- <label for="postId">postId</label>-->
    <input class="a2" type="text" size="1" readonly name="postId"  id="postId" value="<%- postP['id'] %>">
    
    <h5>Leave comment</h5> 
    <div id="a3">    
    <div class="form-group">
      <label for="name">Author</label>
      <% if (typeof currentUser !== "undefined") {%>
      <input type="text" readonly name="author" class="form-control " id="author"  value="<%- currentUser.name %>"required>
      <% ; } else { %>
        <input type="text" name="author" class="form-control" id="author"  value=""required>
      <% ;} %>
    </div>
    <div class="form-group">
        <label for="message">Body</label>
        <textarea name="comment" class="form-control" id="comment" rows="2" required> </textarea>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary">Send</button>
    <!-- Перезагрузка страниы четрез 1 сек по 2й функции после нажатия
      <button type="submit" class="btn btn-primary" onclick="reload()">Send</button> -->

  </div>
  </form>

  <script>
    function reload(time=1000){ 
      setTimeout(function(){
        location.reload();
      }, time);
    }
    </script>

</div> 
</div>
<!-- JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
