<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <title>My blog</title>
</head>
<body>

  <style>
    #a1 {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  </style>

<div class="container">
    <%- include("partials/navbar.ejs") %>
    <div class="jumbotron">

    <form method="post" action="/posts/<%- post['id'] %>/show">
<!-- <div id="a1"> -->
      <label for="name" ><%- post['title'] %>, </label> 

      <label for="text"> <b>By <span style="color:red;font-weight:bold"><%- post['author'] %></span> </b></label>
 <!-- </div> -->
    <div class="form-group">
        <label for="message"></label>
        <textarea readonly name="body" class="form-control" id="body" rows="3" required><%- post['body'] %></textarea>
    </div>
  </form>

    <h3>Comments</h3> 
    
    <br/>
    <label for="text" >какойто текст</label> 
    <label for="text"><b>By <span style="color:red;font-weight:bold"><%- post['author'] %></span></b> </label>
    
    <h3>Leave comments</h3>  
    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" readonly name="author" class="form-control" id="author" placeholder="John" required>
    </div>
    <div class="form-group">
        <label for="message">Body</label>
        <textarea name="body" class="form-control" id="body" rows="5" required> </textarea>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Send</button>
  
</div> 
</div>
<!-- JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>